<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Waddup Yall, Welcome to <%= title %></p>


    <div class="container">
      <div class="jumbotron">
       <img src="/images/image2.png" height="42" width="42">
       
     <h3> MiDIA Tent</h3>
     </div>
     </div>
   
   <script src="/server.js"></script>
   
  </body>
</html>
