<!DOCTYPE html>
<html>
 
  <head>
    <title>Do you know a Creator? </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <form id="formAddCreator" name="addcreator" method="post" action="/newcreator">
      <input id="inputCreator" type="text" placeholder="Creator" name="Creator" />
      <input id="inputTitle" type="text" placeholder="Title" name="Content Title" />
      <input id="inputType" type="text" placeholder="Media Type" name="Media Type" />
      <input id="inputWebsite" type="text" placeholder="Website" name="Website"/>
      <input id="inputDescription" type="text" placeholder="Description" name="Description"/>
      <input id="inputDate" type="date" placeholder="Date" name="Upload Date"/>
    </form>

    <div class="container">
        <div class="jumbotron">
        <img src="/images/image1.png" height="42" width="42">
        <h3> Add to their MiDIA Tent.</h3>
        </div>
        </div>
      <script src="creators.js"></script>
    </body>

</html>