<!DOCTYPE html>
<html>
  <head>
      <logo> Midia: </logo>
      <a href="" class="brand-logo left">Sign-in</a>
      <ul class="right">
        <li>
    
        </li>
      </ul>
  
    <br>
    <h1></h1>
    <br>
    <img src="/images/image1.jpg" height="42" width="42">
   <h3> </h3>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <br>
  <script>
  (function() {
       var cx = '004779950920614021943:thheepagmcy';          var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
  </script>
          <gcse:search></gcse:search>
      
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
          
         
          <p> <%= title %></p>
        </body><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <footer>Copyright 2019 Idealist Cadence </footer>
      </html>
      







    <h1><%= title %></h1>
  </body>
</html>
