<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <h1>Provide New Midia for the world.</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <body>
      <h1><%= title %></h1>

    
      <form id="formAddMidia" name="addMidia" method="post" action="/aMidia">
      
        <input id="inputTitle" type="text" placeholder="Title" name="Content Title" />
        <input id="inputCreator" type="text" placeholder="Creator" name="Creator" />
        <input id="inputType" type="text" placeholder="Media Type" name="Media Title" />
        <input id="inputWebsite" type="text" placeholder="Website" name="Website"/>
        <input id="inputDescription" type="text" placeholder="Description" name="Description"/>
        <input id="inputDate" type="date" placeholder="Date" name="Upload Date"/>
      </form>
  
      <br>
      <h1></h1>
      <br>
      <img src="/images/image1.png" height="42" width="42">
     <h3> </h3>
  
  

    </body>
  </html>

  </body>
</html>
